.app {
  height: 100%;
  background-color: var(--light-gray);
}
.app__body {
  background-color: var(--light-gray);
  padding-bottom: 10px;
  display: flex;
}

.app__icon {
  color: rgb(167, 167, 167);
}

.app__title {
  color: rgb(109, 109, 109);
  padding: 10px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  background-color: transparent;
  border-bottom: 1px solid lightgray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app__card {
  background-color: white !important;
  border-radius: 5px;
  box-shadow: 5px 5px 8px -2px rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
  border: 1px solid lightgrey;
  padding: 15px !important;
  min-height: 160px;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.app__questions {
  flex: 0.75;
  margin: 0 auto;
}

.app__authForm > input {
  margin: 5px 0;
}
.app__authForm > button {
  margin: 10px 0;
}

.app__authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__authForm > h2 {
  text-align: center;
  margin: 20px;
}

.app__authForm > a {
  text-decoration: none;
  font-size: small;
  text-align: center;
  margin-top: 5px;
}

.app__error {
  font-size: x-small;
  color: red;
  margin-bottom: 5px;
}

.app__authForm--error {
  text-align: center;
}

@media (max-width: 600px) {
  .app__questions {
    flex: 1;
  }
} ;
