.questionForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.questionForm > textarea {
  resize: none;
  height: 80px !important;
  margin: 10px 0;
  background-color: var(--light-gray);
}

button:focus {
  box-shadow: none !important;
}
