.home {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.home__left {
  flex: 0.35;
  position: fixed;
  width: 30%;
  left: 30px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
.home__right {
  flex: 0.6;
  margin-right: 50px;
}

@media (max-width: 700px) {
  .home__left {
    width: 40%;
    left: 0;
  }
  .home__right {
    flex: 0.55;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .home {
    justify-content: center;
  }
  .home__left {
    display: none;
  }
  .home__right {
    flex: 1;
    margin: 0;
  }
}
