.logo {
  height: 2rem;
  cursor: pointer;
  object-fit: contain;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.logo:active {
  opacity: 0.7;
}
