.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid lightgrey;
  z-index: 10;
  background-color: white;
  height: 60px;
}

.navbar__options {
  margin-right: 60px;
}

.navbar__link {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--black);
  text-transform: uppercase;
}

.navbar__link:hover {
  opacity: 0.7;
}

.navbar__optionsUser {
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.navbar__optionsUser > h5 {
  margin-right: 7px;
  color: var(--black);
  font-size: small;
  font-weight: 1000;
}

.navbar__optionsUser:hover {
  background-color: var(--light-gray);
  transition: 0.2s;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar__options {
    margin-right: 10px;
  }
  .navbar__optionsUser > h5 {
    display: none;
  }
}

@media (max-width: 350px) {
  .navbar {
    padding: 5px 10px;
    justify-content: end;
  }
  .navbar__logo {
    display: none;
  }
}
